/* div {
    border: solid red;
    max-width: 70ex;
} */

H4 {
    float: inline-end;
    margin: 0;
}
.p {float: inline-end;}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;

}

#two {
    position: relative;
    top: 50px;
    left: 70px;

    background: blue;
    z-index: 3;
}

#three {
    position: absolute;

    z-index: 2;

}

#four {
    position: relative;
    background: purple;
    top: 50px;
    left: 50px;
    z-index: 4;
}



